.main1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #ffffff;
}

.FullScreen{
  background-color: #76B900;
}

.flex-container{
  display: flex;
  align-items: center;
}

.text-container {
  flex-grow: 1;
  max-width: 90%;
  margin-left: 3%;
  margin-right: 3%;
}

.image-container {
  flex-shrink: 0;
  max-width: 50%;
  margin-right: 2px;
}

.small-image {
  max-width: 100%;
  height: auto;
  margin-left: 30%;
  transition: transform 0.3s ease-in-out;
}

.small-image:hover {
  transform: scale(1.1);
}


section {
  max-width: 100%;
  width: 100%;
}

section:first-child {
  margin-top: 2rem;
}

section:last-child {
  margin-bottom: 2rem;
}

section h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

section:first-child h1 {
  margin-bottom: 15%;
  margin-top: 25%;
  font-size: 3.5rem;
}

section p {
  width: 100%;
  font-size: 25px;
  line-height: 1.5;
  text-align: justify;
  margin-bottom: 50px;
}

.Welcome{
  font-size: 40%;
}

.btn-w{
  margin-top: 60px;
  margin-bottom: 30%;

}

.btn-light {
  margin-right: 20px;
}

.ueberschrifth1 {
  color:#76B900;
  text-align: center;
  margin-top: 30px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

.cardbody {
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 18%;
  padding: 15px;
  border: 3px solid #76B900;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px #76B900;
}

.text-Card {
  font-size: 18px;
  padding-top: 10px;
}

.text-Card1{
  font-size: 18px;
  padding-bottom: 43px;
  padding-top: 10px;
}

.text-Card2{
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 27px;
}

.Containerright{
  margin-left: 1%;
}


@media screen and (max-width: 768px) {

  .main1 .flex-container {
    flex-direction: column;
    align-items: stretch;
  }

  .main1 .text-container {
    max-width: 100%;
    margin-bottom: 10px;
  }

  .main1 .image-container {
    margin-top: 20px;
    margin-right: 35%;
    max-width: 100%;
    margin-bottom: 20%;
  }

  .main1 .card-container {
    flex-direction: column;
  }

  .main1 .cardbody {
    flex-basis: calc(100% - 20px);
    margin-right: 0;
    margin-bottom: 18%;
  }
}

@media screen and (min-width: 769px) {

  .main1 .image-container {
    max-width: 50%;
    padding-left: 10%;
  }

  .main1 .text-container {
    max-width: 100%;
    margin-right: 0%;
  }
}