.p{
    color: #fff; 
    font-size: 25px;
}

.navbar{
    text-align: left;
    margin-bottom: 20px;
}

.table{
    border-collapse: collapse;
    font-family: Tahoma, Geneva, sans-serif;
}

.posted-icon{
    text-align: center;
}

.posted-icon .fa-clock {
    color: rgba(194, 50, 50, 0.973);
}

.img {
    width: 90px;
    height: 50px;
    margin: 10px;
}

.post-detail-container {
    background-color: aliceblue;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
    max-width: 40rem;
}

.post-detail-button-group {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

html, body {
    height: 100%;
    margin: 0;
}

.main-content {
    min-height: 100%;
    margin-bottom: -50px;
}

.footer, .push {
    height: 50px;
    background-color: aqua;
}