html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: lightblue;
}

.navbar{
    text-align: left;
    margin-bottom: 20px;
    overflow: hidden;
}

.navbar a.active {
    border-bottom: 3px solid red;
}

.nav{
    flex-direction: row;
    width: 50%;
    font-size: 20px;
    font-weight: 200;
    text-decoration: none;
    padding-left: 20px;
}

.img {
    width: 90px;
    height: 50px;
    margin: 10px;
}

.logout{
    text-align: right;
    font-size: 20px;
    overflow: hidden;
    flex-direction: row;
    width: 50%;
    font-weight: 200;
    text-decoration: none;
}

.table{
    border-collapse: collapse;
    font-family: Tahoma, Geneva, sans-serif;
    margin-top: 60px;
    margin-left: 0;
    box-shadow: #6c6c6c;
}

.abbrechen-bt {
    margin-left: 20px;
}

.posted-icon{
    text-align: center;
}

.posted-icon .fa-clock {
    color: rgba(194, 50, 50, 0.973);
}

.post-detail-container {
    background-color: aliceblue;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
    max-width: 40rem;
}

.post-detail-button-group {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.card1{
    margin-bottom: 20px;
    width: 70%;
    margin-left: 50px;
}

.card2{
    margin-bottom: 20px;
    width: 70%;
    margin-left: 50px;
}

.card3{
    margin-left: 50px;
    margin-bottom: 20px;
    width: 70%;
}

.section-title h2{
    font-size: 14px;
    font-weight: 500;
    line-height: 1px;
    letter-spacing: 2px;
    color: #aaaaaa;
    font-family:"Poppins", sans-serif ;
}

.section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #5f7ed4;
    margin: 4px 10px;
}

.h1{
    text-align: center;
    text-shadow: 1px 1px 1px #6c6c6c;
}

.main-content {
    min-height: 100%;
    margin-bottom: -50px;
}

.footer, .push {
    height: 50px;
    background-color: rgb(217, 221, 221);
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    position:relative;
}

.section-title Vision {
    margin:0;
    font-size: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family:"Poppins", sans-serif ;
    color:#2a2c39;
}

.Vision {
    font-size: 36px;
}